<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 border p-5 shadow mt-3">
            <form action="" [formGroup]="regform" (ngSubmit)="signup()">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="enter username" formControlName="username">
                </div>
                <div class="form-text text-danger" *ngIf="username?.touched && username?.invalid">enter validusername</div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="enter password" formControlName="password">
                </div>
                <div class="form-text text-danger" *ngIf="password?.touched && password?.invalid">enter valid password</div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="enter password" formControlName="email">
                </div>
                <div class="form-text text-danger" *ngIf="email?.touched && email?.invalid">enter email</div>
                <div class="mb-3">
                    <input type="submit" [disabled]="regform.invalid" class="btn btn-info form-control" >
                </div>
                
                
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>